<!-- <section data-ng-controller="PersonasController" data-ng-init="find()">
    <div class="page-header">
        <h1>Personas</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="persona in personas" data-ng-href="#!/personas/{{persona._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="persona.created | date:'medium'"></span>
				by
				<span data-ng-bind="persona.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="persona.name"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="persona.apellido"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="persona.doc"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!personas.$resolved || personas.length">
    	No existen pacientes cargados <a href="/#!/personas/create">cargue un Paciente!</a>?
    </div>
</section> -->
<div class="row">
  <div class="col-sm-3 col-md-2 sidebar">
    <ul class="nav nav-sidebar">
      <li><a href="#">Inicio</a></li>
      <li class="active"><a href="/#!/personas">Personas<span class="sr-only">(current)</span></a></li>
      <li><a href="/#!/personas/create">Nueva Persona</a></li>
      <li><a href="#">Turnos</a></li>
    </ul>
  </div>
  <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <section data-ng-controller="PersonasController">
        <div class="page-header">
            <h1>Personas</h1>
        </div>
           <table class="table table-hover" ng-table="tableParams">
               <tr>
                   <th>Nombre</th>
                   <th>Apellido</th>
                   <th>Documento</th>
               </tr>
               <tr data-ng-repeat="persona in $data">
                   <td>{{persona.name}}</td>
                   <td>{{persona.apellido}}</td>
                   <td>{{persona.doc}}</td>
                   <td>
                      <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == persona.user._id))">
                        <a class="btn btn-primary" title="Editar" href="/#!/personas/{{persona._id}}/edit" ><i class="glyphicon glyphicon-edit"></i></a>
                        <a class="btn btn-primary" title="Eliminar" data-ng-click="remove();"><i class="glyphicon glyphicon-trash"></i></a>
                      </div>            
                    </td>
               </tr>
           </table>
        <div class="alert alert-warning text-center" data-ng-hide="!personas.$resolved || personas.length">
            No existen pacientes cargados <a href="/#!/personas/create">cargue un Paciente!</a>?
        </div>
    </section>
  </div>
</div>