<section data-ng-controller="PersonasController" data-ng-init="find()">
    <div class="page-header">
        <h1>Personas</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="persona in personas" data-ng-href="#!/personas/{{persona._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="persona.created | date:'medium'"></span>
				by
				<span data-ng-bind="persona.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="persona.name"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="persona.apellido"></h4>
            <h4 class="list-group-item-heading" data-ng-bind="persona.doc"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!personas.$resolved || personas.length">
    	No existen pacientes cargados <a href="/#!/personas/create">cargue un Paciente!</a>?
    </div>
</section>